.money{
    background-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    
}
.money h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 20px;
    font-size: 48px;
    line-height: 60px;
    font-style: normal;
    margin:10px;
}

.mny{
    text-align: center;
    line-height:30px;
    font-weight: 400;
    font-size: 30px;
    font-family: sans-serif;
} 
.price{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: center;
    gap: 20px;
}
.price_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 40%;
    padding: 10px;
}
.price_1 p{
    text-align: center;
}
.price_1 h1{
    font-family:'Montserrat', sans-serif ;
    font-weight: 700;
    font-style: normal;
    font-size:50px;
    line-height: 90px;

}
.price_1 h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 48px;
}
.price_1 img{
    width: 40px;
    margin: 5px;
}
.button{
    background-color: #2d60be;
    width: 160px;
    height: 30px;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    font-weight: 200;
    align-items:center;
}
.btn{
    background-color:white;
    height: 30px;
    width: 160px;
    margin-top: 10px;
}
@media(max-width: 820px){
    .money{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .price{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}


 