.nav {
    margin-left: auto;
    padding:5px;


    
}


.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    align-items: center;
    margin-right: 2rem;
}
.nav li a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    gap: 3rem;
    transition: transform .2s;
    /* padding-top: 5px; */
    font-size: 12px;
    /* margin-left:auto; */
    
}
.nav li a :hover {
        transform: scale(1.5);
}

.button{
    background-color:#2d60be ;
    height: 30px;
    width: 90px;
    color: white;
    outline: none;
    cursor: pointer;
    border: none;
    margin: 3rem;
    /* font-size: 20px; */
    font-weight: 200;
}
@media(max-width:600px){
    .hidden{
    display: none;    
    }
    .nav ul{
        display: inline-;
    }
    
}